doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title CPH Labs
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='/favicon.png')
    link(rel='stylesheet' href='https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css')
    link(rel='stylesheet' type='text/css' href='vendor/reset.min.css')
    link(rel='stylesheet' type='text/css' href='vendor/normalize.min.css')
    link(rel='stylesheet' type='text/css' href='css/skel.css')
    link(rel='stylesheet' type='text/css' href='css/style-xlarge.css')
    link(rel='stylesheet' type='text/css' href='css/style.css')

    //- Google Analytics
    script.
      ;(function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r
      ;(i[r] =
      i[r] ||
      function() {
      ;(i[r].q = i[r].q || []).push(arguments)
      }),
      (i[r].l = 1 * new Date())
      ;(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0])
      a.async = 1
      a.src = g
      m.parentNode.insertBefore(a, m)
      })(
      window,
      document,
      'script',
      'https://www.google-analytics.com/analytics.js',
      'ga',
      )
      ga('create', 'UA-XXX-1', 'auto')
      ga('send', 'pageview')
    //- End Google Analytics

    script(src='js/fn.js')
    script(src='js/include.js')
  body
    //- Header
    header.header
      .container
        a.brand(href="/") CPH
          span Labs
        nav.nav
          ul.nav-items
            li.nav-item
              a.nav-item-link(href='/')
                img.nav-item-link-icon(src="img/menus/accueil.png" width="25px")
                span.nav-item-link-text Accueil
            li.nav-item
              a.nav-item-link(href='/nouvelle-commande')
                img.nav-item-link-icon(src="img/menus/nouvelle-commande.png" width="25px")
                span.nav-item-link-text Nouvelle commande
            li.nav-item
              a.nav-item-link(href='/commandes')
                img.nav-item-link-icon(src="img/menus/commandes.png" width="25px")
                span.nav-item-link-text Historique
            li.nav-item
              a.nav-item-link(href='/connexion')
                img.nav-item-link-icon(src="img/menus/mon-compte.png" width="25px")
                span.nav-item-link-text Jean-jacques Akakpo

    //- Main content
    main.content
      block body

    //- Footer
    //- footer#footer
      //- ul.menu
      //-   li
      //-     a(href='#') FAQ
      //-   li
      //-     a(href='#') Terms of Use
      //-   li
      //-     a(href='#') Contact
      //- span.copyright
      //-   | &copy; Copyright. All rights reserved. Design by 
      //-   a(href='http://www.html5webtemplates.co.uk') Responsive Web Templates

  script(src='vendor/modernizr.min.js')
  script(src='js/jquery.min.js')
  script(src='js/jquery.dropotron.min.js')
  script(src='js/jquery.scrollgress.min.js')
  script(src='js/jquery.scrolly.min.js')
  script(src='js/jquery.slidertron.min.js')
  script(src='js/skel.min.js')
  script(src='js/skel-layers.min.js')
  script(src='js/init.js')
  script(src='js/main.js')